*{
    margin: 0;
    padding: 0;
}
body{
    background: #fafafa;
}
.container{
    display: flex;
    background-color: #fafafa;
    padding:15px;
    text-align: center;
    box-shadow: 0 0 3px black;
}
.navigationbar li{
    display: inline;
    padding-left: 45px;
}
button{
    padding-left: 45px;
    color: #fafafa;
    background-color: #2549d3;
    font-family: Oleo script;font-style: normal;
    font-size: 15px;
    box-sizing: border-box;
    border-radius: 10px;

}